@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
    @foreach (var role in Model)
    {
        <div class="form boxShadowLogin">
            <h1>@role.Name </h1>
            
            <div class="article-actions">
                <form action="@Url.Action("EditRole", "Roles")" method="get" style="display:inline-block;">
                    <input type="hidden" name="id" value="@role.Id" />
                    <button type="submit" class="btn-edit"><i class="fa fa-pencil-alt"></i></button>
                </form>
                <form method="post" asp-action="Delete" asp-controller="Roles" style="display:inline-block;">
                    <input type="hidden" name="id" value="@role.Id" />
                    <button type="submit" class="btn-delete"><i class="fa fa-trash"></i></button>
                </form>
            </div>
        </div>
    }
</body>
<a asp-action="Create">Добавить роль</a>
<a asp-controller="Users" asp-action="Index">Список пользователей</a>