@model IEnumerable<Bloggs.Models.ViewModel.CommentViewModel>

<div class="comments">
    @foreach(var comment in Model)
    {
        <div class="comment">
            <div class="comment-img">
                <!-- Добавляем случайное изображение для каждого комментария-->
                <img src="https://cdn.icon-icons.com/icons2/316/PNG/128/Cool-Male-Avatars-03_34322.png" alt="comment-image" />
            </div>
            <div class="comment-content">
                <p>@comment.Content</p>
                <p class="comment-meta">@comment.AuthorName &middot; @comment.CreatedAt.ToShortDateString()</p>
            </div>
        </div>
    }
</div>

