@model string[]

<h2 class="text">:</h2>

<div class="folder-list text">
    @foreach (var folder in Model)
    {
        <div class="folder-item text">
            <a asp-controller="Article" asp-action="ShowPhotos" asp-route-folderName="@folder">
                Show Photos from @folder
            </a>
        </div>
    }
</div>



