@{
    ViewData["Title"] = "Photo Gallery";
    string folderName = ViewBag.FolderName;
    string[] photoUrls = ViewBag.PhotoUrls as string[];
}

<style>
    body {
        background: linear-gradient(to bottom, #cccccc, #333333);
        margin: 0; /* Убираем отступы, чтобы градиент занимал всю страницу */
        padding: 0;
        color: white;
    }
    .photo-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .photo-item {
        margin: 5px;
        max-width: 200px; /* Устанавливаем максимальную ширину изображения */
        max-height: 150px; /* Выставляем высоту автоматически, чтобы изображение не искажалось */
        cursor: pointer; /* Меняем указатель на руку, чтобы показать, что изображение кликабельно */
    }

    #overlay {
        display: none;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9); /* Задаем черный цвет с прозрачностью 90% */
        text-align: center;
    }

        #overlay img {
            position: absolute; /* Изображение позиционируется абсолютно в блоке overlay */
            top: 50%; /* Перемещаем изображение на 50% от верхней части блока overlay */
            left: 50%; /* Перемещаем изображение на 50% от левой части блока overlay */
            transform: translate(-50%, -50%); /* Центрируем изображение относительно его собственных размеров */
            max-width: 80%; /* Сохраняем ширину изображения на 80% от размера экрана */
            max-height: 80%; /* Сохраняем высоту изображения на 80% от размера экрана */
        }
</style>

<h2>Фото @folderName:</h2>

<div class="photo-gallery">
    @foreach (var photoUrl in photoUrls)
    {
        string formattedPhotoUrl = photoUrl.Replace("\\", "/"); // Заменяем "\\" на "/"
        <img src="@Url.Content(photoUrl)" alt="Photo" onclick="openPhoto('@Url.Content(formattedPhotoUrl)')" class="photo-item" />
    }
</div>

<div id="overlay" onclick="closePhoto()">
    <img id="overlay-img" /Photos/Лето2022/IMG_7873.jpg />
</div>

<script>
    function openPhoto(url) {
        document.getElementById('overlay-img').src = url;
        document.getElementById('overlay').style.display = 'block';
    }

    function closePhoto() {
        document.getElementById('overlay').style.display = 'none';
    }
</script>
