<!DOCTYPE html>
<html>
<head>
    <style>
        .table {
            width: 100%;
        }

            .table th, .table td {
                padding: 8px;
                text-align: left;
            }

        .content-col {
            width: 200px; /* Примерная ширина столбца content */
            word-break: break-all;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Добро пожаловать!</h1>
            <p>Наша история.</p>
            <p>Наша история.</p>
        </header>
        <div class="row">
            <
            <div class="col-md-4">
                <h2>Последние обновления</h2>
                <ul>
                    <li>
                        <strong>30 декабря 2021</strong> - Добавлена новая статья о программировании на C#
                    </li>
                    <li>
                        <strong>24 декабря 2021</strong> - Проведен конкурс "Лучшая новогодняя статья" среди наших авторов
                    </li>
                    <li>
                        <strong>18 декабря 2021</strong> - Обновлен дизайн блога для лучшей навигации
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
