<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="container">
        <header>
            <h1>Добро пожаловать в наш блог!</h1>
            <p>Здесь вы можете найти интересные статьи на различные темы, написанные нашей командой опытных блогеров.</p>
        </header>
        <div class="row">
            <div class="col-md-8">
                <!-- Ваши статьи здесь -->
            </div>
            <div class="col-md-4">
                <h2>Последние обновления</h2>
                <ul>
                    <li>
                        <strong>30 декабря 2021</strong> - Добавлена новая статья о программировании на C#
                    </li>
                    <li>
                        <strong>24 декабря 2021</strong> - Проведен конкурс "Лучшая новогодняя статья" среди наших авторов
                    </li>
                    <li>
                        <strong>18 декабря 2021</strong> - Обновлен дизайн блога для лучшей навигации
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>