<!DOCTYPE html>
<html>

<head>
    <!-- Стили слайдера -->
    <style>
        .slider-container {
            width: 100%; /* Слайды займут всю ширину страницы */
            margin: 20px auto;
            overflow: hidden;
            position: relative;
            border-bottom: 1px solid #007cc2 !important; /* Бордер во всю ширину */
            background-color:white;
        }

        .slides {
            display: flex;
            width: 100%;
        }

        .slide {
            min-width: 100vw; /* Слайд будет занимать всю ширину страницы */
            padding: 20px; /* Добавим немного отступа внутри слайда */
            box-sizing: border-box; /* Учтем внешние границы в ширине слайда */
            display: flex; /* Сделаем блоки параграфов и изображения флекс-контейнером */
            flex-direction: column; /* Определим направление в столбец */
        }

            .slide img {
                width: 100%;
                max-height: 300px; /* Максимальная высота изображения */
                object-fit: cover; /* Изображение будет центрироваться и обрезаться при необходимости */
                margin-bottom: 10px; /* Добавим немного отступа между изображением и описанием */
            }

        .controls {
            text-align: left ;
           
        }

        .photo-item {
           
            max-width: 500px; /* Устанавливаем максимальную ширину изображения */
            max-height: 750px; /* Выставляем высоту автоматически, чтобы изображение не искажалось */
            cursor: pointer; /* Меняем указатель на руку, чтобы показать, что изображение кликабельно */
        }

        .slide > h6 {
            text-align: left; /* Выравниваем параграф слева */
            margin-bottom: 10px;
        }

        .slide > p {
            text-align: left; /* Выравниваем параграф слева */
            margin-bottom: 10px;
        }

        
    </style>
</head>

<body>
    <h2>Последние обновления</h2>
    <div class="slider-container">
        <div class="slides">
            <div class="slide">
               
                <h6>
                    Крещение будет проходить на тереке, местоположение первй спуск
                </h6>
                <img src="http://neizvestniy-geniy.ru/images/works/photo/2021/01/2217740_1.jpg" class="photo-item" alt="C# программирование">
                <p class="controls">
                    <strong>19 января 2024</strong> - Крещение на реке терек
                </p>
            </div>
            <div class="slide">
              
                <h6>
                    В Москве 28 февраля 2024 состоялся II Большой круг российского казачества. В нем приняли участие более тысячи делегатов 13 <br />
                    войсковых казачьих обществ РФ, Союза казаков-воинов России и зарубежья, представители федеральных властей. Церемония началась с проведения<br />
                    молебна в храме Христа Спасителя, который объединил участников из различных регионов России. Во время мероприятия было оглашено приветствие от <br />
                    президента Владимира Путина, в котором высоко отмечена историческая и современная роль казачества в защите интересов государства.В результате работы <br />
                    Большого круга была принята резолюция, в которой участники выразили поддержку политическому курсу Президента, приняли решение о создании Совета атаманов <br />
                    России как координирующего органа по объединению российского казачества, а также определили приоритетные направления деятельности для объединения российского казачества.
                </h6>
                <img src="~/Photos/Встреча Атаманов Москва 2024/WhatsApp Image 2024-03-11 at 22.49.49_4_11zon.jpeg" class="photo-item">
                <p class ="controls">
                    <strong>28 февраля 2024</strong> - Большой круг российского казачества
                </p>
            </div>
        </div>
       @* <div class="controls">
            <button onclick="showPrevSlide()">Назад</button>
            <button onclick="stopSlideShow()">Остановить</button>
            <button onclick="startSlideShow()">Старт</button>
        </div>*@
    </div>

    <script>
        // Добавляем JavaScript для прокрутки слайдов
        const slides = document.querySelector(".slides");
        const slideWidth = window.innerWidth;
        let currentIndex = 0;
        let slideInterval;

        function showSlide(index) {
            slides.style.transform = `translateX(-${index * slideWidth}px)`;
            currentIndex = index;
        }

        function showPrevSlide() {
            showSlide(0);
        }

        function startSlideShow() {
            slideInterval = setInterval(() => {
                if (currentIndex < 1) {
                    showSlide(currentIndex + 1);
                } else {
                    showSlide(0);
                }
            }, 5000); // Меняем слайд каждые 2 секунды
        }

        function stopSlideShow() {
            clearInterval(slideInterval);
        }

        startSlideShow(); // Стартуем слайд-шоу при загрузке страницы
    </script>
</body>

</html>
